*.pyc
.ipynb_checkpoints
*.json
.DS_Store
.idea
*.gv
*.pdf
*.gz
*.npy
*.csv
statistics/
temp/
lcmlog*
lcmt*
*.so
*.jar
*.png
*.txt
*.mp4
contact_discrimination/qp
contact_particle_filter/qp
*.ipynb
*.gif

